extends layout

block content
  div.broken-page
    img(src="images/broken.jpg" height="50%" width="50%")
    div
      p Thanks for stopping by AirVūz!
      p Our site updates are currently ‘in-flight,’ and we look forward to sharing them with you!
      p Please check back in a few hours…but if you’re really up for seeing some great V?z (or connecting with our cool community), please find us on social media!
      div
        a(href="https://www.facebook.com/AirVuz")
          img(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" height="50px")
        a(href="https://twitter.com/AirVuz")
          img(src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/social-twitter-icon.png" height="50px")
        a(href="https://www.instagram.com/airvuz/")
          img(src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Instagram-icon.png" height="50px")