extends layout

block content
    .row
        .col-md-12
            img(src="images/logo.png", style="margin:auto").img-responsive
            div.text-center
                p Thanks for stopping by!
                p We're currently doing a bit of scheduled maintenance... please come back and check out the Vūz in a few minutes!
                div
                    a(href="https://www.facebook.com/AirVuz")
                        img(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" height="50px")
                    a(href="https://twitter.com/AirVuz")
                        img(src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/social-twitter-icon.png" height="50px")
                    a(href="https://www.instagram.com/airvuz/")
                        img(src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Instagram-icon.png" height="50px")
                img(src="images/crew.png", style="margin:auto").img-responsive
                p The AirVūz Crew
